.edit-username, .save-username, .remove-button, .play-circle {
    visibility: hidden;
    cursor: pointer;
}

.username:hover .edit-username, .save-username {
    visibility: visible;
}

.save-username,.edit-username{
    padding-left: 0.8em;
}

.remove-button {
    color: red;
    font-size: 2em !important;
}

.play-circle {
    color: #21DEEF;
    position: absolute !important;
    font-size: 13em !important;
    top: 20% !important;
    left: 31% !important;
}

.author:hover {
    text-decoration: underline;
    text-decoration-color: #21DEEF;
}

.toast-message{
    font-size: 1.5em;
}

.play-video:hover .play-circle {
    visibility: visible;
}

.user-video:hover .remove-button {
    visibility: visible;
}

#loader {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 120%;
    z-index: 999999;
    background-color: white;
    opacity: 0.8;
}

#loader-gif{
    position: relative;
    left: 50%;
    top: 50%;
}

.container {
    width: 100%;    
}

.background {
    background-image: url('/Images/topContentBg.jpg') !important;
    background-size: 100%;
    background-repeat: no-repeat;
}

.register-form,.login-form{
    font-size: 1.5em;
}

