
@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>

@using (Html.BeginForm("UploadVideo", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <input type="file" name="video" />
    <button type="submit">Submit!</button>
}

@using (Html.BeginForm("DeleteVideo", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <input type="text" name="videoId" />
    <button type="submit">Delete!</button>
}

@using (Html.BeginForm("HardDeleteVideo", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <input type="text" name="videoId" />
    <button type="submit">Hard Delete!</button>
}

