@using Microsoft.AspNet.Identity

<div class="header-top-right">
    @if (Request.IsAuthenticated)
    {
        <div class="file">
            <a href="upload.html">Upload</a>
        </div>

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class="navbar-right"}))
        {
            @Html.AntiForgeryToken()

            <div class="signin">
                <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
            </div>
        }
    }
    else
    {
        <div class="signin">
            @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "play-icon" })
        </div>
        <div class="signin">
            @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "play-icon" })
        </div>
    }
</div>
