@model IEnumerable<VlogRoom.Web.Models.VideoDataViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        @foreach (var video in Model)
            {
            <div class="video">
                <label class="video_title">@video.Title</label>
                <a href="@video.Id" class="video_link" target="_blank">YouTube Link</a>
                <label class="video_description">@video.Description</label>
                <iframe src="@video.Id" width="560" height="315" frameborder="0" allowfullscreen></iframe>
            </div>
        }
    </div>
</body>
</html>