<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Users Grid</h2>
    @(Html.Kendo().Grid<UserManageViewModel>()
        .Name("UsersManage")
        .Columns(columns =>
        {
            columns.Bound(m => m.Id);
            columns.Bound(m => m.UserName);
            columns.Bound(m => m.Email);
            columns.Bound(m => m.RoomName);
            columns.Bound(m => m.CreatedOn);
            columns.Bound(m => m.ModifiedOn);
            columns.Bound(m => m.DeletedOn);
            columns.Bound(m => m.IsDeleted);
            columns.Bound(m => m.IsAdmin);

            columns.Command(command => command.Edit());
        })
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.InLine);
        })
        .Pageable(c =>
        {
            c.Refresh(true);
            c.PageSizes(true);
        })
        .Sortable()
        .DataSource(source =>
        {
            source.Ajax()
            .Model(m =>
            {
                m.Id(c => c.Id);
                m.Field(model => model.Id).Editable(false);
                m.Field(model => model.CreatedOn).Editable(false);
                m.Field(model => model.ModifiedOn).Editable(false);
                m.Field(model => model.DeletedOn).Editable(false);
            })
            .Read(c => c.Action<UsersManageController>(z => z.ReadUsers(null))).PageSize(5)
            .Update(c => c.Action<UsersManageController>(z => z.UpdateUser(null)));
        })
    .Filterable(f => f.Mode(GridFilterMode.Menu))
    .Deferred())
</div>

@section Scripts {
    @Scripts.Render("~/bundles/kendo")
}