@model IEnumerable<VlogRoom.Web.Models.VideoDataViewModel>

@foreach (var video in Model)
{
    <div class="video">
        <label class="video_title">@video.Title</label>
        <a href="@video.Id" class="video_link" target="_blank">YouTube Link</a>
        <label class="video_description">@video.Description</label>
        <iframe width="854" height="480" src="@("https://www.youtube.com/embed/" + video.Id)" frameborder="0" allowfullscreen></iframe>
    </div>
}