@model VideoCollectionsViewModel

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main-grids">
        <div class="top-grids">
            <div class="recommended-info">
                <h3>Recent Videos</h3>
            </div>
            @foreach (var video in Model.RecentVideos)
            {
                @Html.Partial("_RecentVideo", video);
            }
            <div class="clearfix"> </div>
        </div>
        <div class="recommended">
            <div class="recommended-grids">
                <div class="recommended-info">
                    <h3>Viral Videos</h3>
                </div>
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        @{
                            for (int i = 0; i < Model.ViralVideos.Count / 4; i++)
                            {
                                <li>
                                    <div class="animated-grids">
                                        @for (int j = 0; j < 4; j++)
                                        {
                                            @Html.Partial("_ViralVideo", Model.ViralVideos[i * 4 + j + 1]);
                                        }

                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>